{
  "address": "",
  "mnemonic": "",
  "chainId": "coreum-testnet-1",
  "hostname": "full-node-pluto.testnet-1.coreum.dev",
  "port": 26657,
  "protocol": "https",
  "nativeAsset": "utestcore",
  "faucetUrl": "https://api.testnet-1.coreum.dev/api/faucet/v1/fund"
}
